@import "../styles/index.scss";

.timeRuler {
  height: $spacer-3;
  margin-bottom: $track-margin;
  background-color: $bg-main;
}

.ampAxisWrapper {
  display: flex;
  margin-right: $tiny-spacer;
  position: relative;
}

.ampAxis {
  flex: 0 0 auto;
  background-color: $bg-main;
}

.freqAxis {
  flex: 0 0 auto;
  background-color: $bg-main;
}

.dBAxis {
  flex: 0 0 auto;
  background-color: $bg-main;
}
