@import '../styles/index.scss';

.timeRuler {
  height: $spacer-3;
  margin-bottom: $track-margin;
}

.ampAxis {
  flex: 0 0 auto;
  margin-right: $track-margin;
}

.freqAxis {
  flex: 0 0 auto;
}

.dbAxis {
  flex: 0 0 auto;
}
