@import "../styles/index.scss";

.FloatRangeInput {
  $input-height: $spacer-3;
  $track-height: 2px;
  $thumb-height: $spacer;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  height: $input-height;

  label {
    margin: auto 0;
  }

  input[type="text"] {
    @include input-text-transparent($spacer);

    &:disabled,
    &:disabled + label {
      color: $text-gray;
    }
  }

  $effect-color: $primary-400;

  input[type="range"] {
    @include input-range-base($track-height);
  }

  input[type="range"]::-webkit-slider-thumb {
    @include input-range-thumb($white, $thumb-height, $track-height - $input-height);
    transition: 0.2s ease-in-out;

    &:hover {
      box-shadow: 0 0 0 $thumb-height rgba($effect-color, 0.1);
    }
  }

  input[type="range"]:disabled::-webkit-slider-thumb {
    @include input-range-thumb($bg-primary-lighter, $thumb-height, $track-height - $input-height);

    &:hover {
      box-shadow: none;
    }
  }

  input[type="range"]:active::-webkit-slider-thumb {
    box-shadow: 0 0 0 $thumb-height * 1.2 rgba($effect-color, 0.2);
  }
  input[type="range"]:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 $thumb-height * 1.2 rgba($effect-color, 0.2);
  }
}
