@import "../styles/index.scss";

.FloatRangeInput {
  display: flex;
  justify-content: flex-start;

  height: $range-input-height;

  label {
    margin: auto 0;
  }

  input[type="text"] {
    @include input-text-transparent($spacer);

    &:disabled,
    &:disabled + label {
      color: $text-gray;
    }
  }

  $effect-color: $primary-400;

  input[type="range"] {
    @include input-range-base($range-track-height);
  }

  input[type="range"]::-webkit-slider-thumb {
    @include input-range-thumb(
      $white,
      $range-thumb-height,
      $range-track-height - $range-input-height
    );
    transition: 0.2s ease-in-out;

    &:hover {
      box-shadow: 0 0 0 $range-thumb-height rgba($effect-color, 0.1);
    }
  }

  input[type="range"]:disabled::-webkit-slider-thumb {
    background-color: $bg-primary-lighter;

    &:hover {
      box-shadow: none;
    }
  }

  input[type="range"]:active::-webkit-slider-thumb,
  input[type="range"]:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 $range-thumb-height * 1.2 rgba($effect-color, 0.2);
  }

  input[type="range"]:disabled:active::-webkit-slider-thumb,
  input[type="range"]:disabled:focus::-webkit-slider-thumb {
    box-shadow: none;
  }
}
