@import '../styles/index.scss';

.ImgCanvas {
  flex: 1 1 auto;
  cursor: crosshair;
}

.tooltip {
  position: fixed;
  pointer-events: none;
  background-color: $bg-primary;
  opacity: 0.6;
  border: 1px solid white;
  font-size: smaller;
  padding: 0.2em;
  min-width: 6em;
  z-index: 1;
}
