@import "../styles/index.scss";

.imgCanvasWrapper {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  position: absolute;
  margin: auto;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: dashed 5px white;
  animation-name: spin;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ImgCanvas {
  flex: 1 1 auto;
  cursor: crosshair;
}

.tooltip {
  position: fixed;
  z-index: 256;
  pointer-events: none;
  background-color: rgba($bg-primary, 0.6);
  font-size: $body-font-size-xsmall;
  line-height: 1.5;
  min-width: $spacer * 10;
  padding: $spacer $spacer-3;
  border-radius: 0 $spacer-1 $spacer-1 $spacer-1;

  &::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-bottom: 5px solid rgba(31, 33, 51, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0%, -100%);
  }
}
