@import "../styles/index.scss";

.SplitView {
  width: calc(100% - #{$colorbar-width + $component-gap * 2});
  margin: $component-gap * 0.5;

  overflow-y: scroll;
}

.Scrolled {
  display: flex;
  align-items: stretch;
  height: fit-content;
  min-height: 100%;
}

.LeftPane {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  z-index: 3;
  background-color: $bg-main;

  > div {
    background-color: $bg-primary;
  }
}

.divider {
  cursor: col-resize;
}

.dividerLine {
  height: 100%;
  border-left: 3px solid $bg-main;
  border-right: 1px solid transparent;
  z-index: 3;
}

.RightPane {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
