@import '../styles/index.scss';

.SplitView {
  // temporary guide
  border: $border;

  flex: 1 1 auto;
  width: calc(100% - #{$colorbar-width + $component-gap * 2});
  margin: $component-gap / 2;

  display: flex;
  overflow-y: scroll;
  flex-direction: row;
  align-items: flex-start;
}

.LeftPane {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  min-height: 100%;

  > div {
    background-color: $bg-primary;
  }
}

.divider {
  cursor: col-resize;
  display: flex;
  align-self: stretch;
  align-items: center;
}

.dividerLine {
  height: 100%;
  border: 1px solid transparent;
}

.RightPane {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
