@import "../styles/index.scss";

.SplitView {
  flex: 1 1 auto;
  width: calc(100% - #{$colorbar-width + $component-gap * 2});
  margin: $component-gap * 0.5;

  display: flex;
  overflow-y: scroll;
  flex-direction: row;
  align-items: flex-start;
}

.LeftPane {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  min-height: 100%;
  z-index: 2;
  background-color: $bg-main;

  > div {
    background-color: $bg-primary;
  }
}

.divider {
  cursor: col-resize;
  display: flex;
  align-self: stretch;
  align-items: center;
}

.dividerLine {
  height: 100%;
  border-left: 3px solid $bg-main;
  border-right: 1px solid transparent;
  z-index: 2;
}

.RightPane {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
