@import '../../styles/index.scss';

.colorMapHeader {
  @include body-label;

  height: $time-ruler-height + $track-margin; // TEMP
  text-align: center;
}

// color bar
.colorBar {
  // temporary guide
  border: $border;

  display: flex;
  justify-content: center;

  flex: 0 0 auto;
  width: $colorbar-width;
  margin: $component-gap / 2;
}
