@import "../../styles/index.scss";

.colorMap {
  display: flex;
  flex-direction: column;

  flex: 0 0 auto;
  width: $colorbar-width;
  margin: $component-gap * 0.5;
}

.colorMapHeader {
  @include body-label;

  height: $time-ruler-height; // + $track-margin; // TEMP
  text-align: center;
  margin-left: 1.5em;
}

.colorMapBody {
  display: flex;
  justify-content: center;
  align-items: center;
}
