@import '../../styles/index.scss';

.MainViewer {
  position: relative;
  height: 0;
}

// Dropzone
.dropzone {
  $margin: $spacer * 1.5;

  position: absolute;
  z-index: 2;
  width: calc(100% - #{$margin * 2});
  height: calc(100% - #{$margin * 2});
  margin: $margin;
  border: 2px dashed $border-primary-light;
  border-radius: $spacer-1;
}

/* Right Track Elements */

.trackRight {
  position: relative;
  flex: 0 0 auto;
}

.chCanvases {
  display: flex;

  canvas {
    display: block;
    margin-bottom: $track-margin;
  }
}
