@import "../../styles/index.scss";

.mainViewerWrapper {
  width: calc(100% - #{$track-control-width} - #{$component-gap});
}

.MainViewer {
  position: relative;
  height: 0;
}

// Dropzone
.dropzone {
  $margin: $spacer * 1.5;

  position: absolute;
  z-index: 2;
  width: calc(100% - #{$margin * 2});
  height: calc(100% - #{$margin * 2});
  margin: $margin;
  border: 2px dashed $border-primary-light;
  border-radius: $spacer-1;
}

/* Track Control */

.trackControl {
  background-color: $bg-primary;
  min-width: $track-control-width;
  padding: $spacer-3;
  margin: $component-gap * 0.5;
}

/* Right Track Elements */
.trackRightHeader {
  right: 0px;
}

.stickyHeader {
  position: absolute;
  z-index: 1;
  background-color: $bg-main;
  height: $time-ruler-height + $track-margin;
  min-width: 1px;
  display: flex;
}

.dummyBoxForStickyHeader {
  height: $time-ruler-height;
  margin-bottom: $track-margin;
}

.axisLabelSection {
  @include body-label;

  flex: 0 0 auto;
  width: 45px;
  padding-left: 7px;
  &:not(:nth-last-of-type(1)) {
    margin-right: 2px;
  }
}

.trackRight {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.chCanvases {
  display: flex;
  align-items: center;

  canvas {
    display: block;
  }
}
