@import "../../styles/index.scss";

.mainViewerWrapper {
  width: calc(100% - #{$track-control-width} - #{$component-gap});
}

.MainViewer {
  position: relative;
  height: 0;
}

.fileDropIndicator {
  margin: 4px 0;
  border-top: 2.5px dashed $border-primary-light;
  background-color: $bg-primary-semilight !important;
}

/* Track Control */

.trackControl {
  background-color: $bg-primary;
  min-width: $track-control-width;
  padding: $spacer-3;
  margin: $component-gap * 0.5;
}

.stickyHeader {
  position: absolute;
  z-index: 3;
  background-color: $bg-main;
  height: $time-ruler-height + $track-margin;
  min-width: 1px;
  display: flex;
}

.dummyBoxForStickyHeader {
  height: $time-ruler-height;
  margin-bottom: $track-margin;
  flex: none;
}

.axisLabelSection {
  @include body-label;

  flex: 0 0 auto;
  width: 45px;
  padding-left: 7px;
  &:not(:nth-last-of-type(1)) {
    margin-right: 2px;
  }
}

/* Right Track Elements */
.trackRightHeader {
  // supporting sticky header + preventing pops out when RightPane is resized
  right: $colorbar-width + $component-gap * 1.5;
  z-index: 2;
}

.trackRight {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.chCanvases {
  display: flex;
  align-items: center;

  canvas {
    display: block;
  }
}
