[package]
authors = ["Sytronik <sytronik210@gmail.com>", "crackyachae <crackyache@gmail.com>"]
edition = "2018"
license = "MIT"
name = "thesia-native-backend"
version = "0.1.0"

[lib]
crate-type = ["cdylib"]
path = "native/lib.rs"

[dependencies]
napi = "1.7.5"
napi-derive = "1.1.0"

cached = "0.23.0"
# cpal = "0.13.3"
futures = "0.3.15"
lazy_static = "1.4.0"
ndarray = {version = "0.15.2", features = ["rayon", "approx"]}
ndarray-stats = "0.5.0"
num-traits = "0.2.14"
parking_lot = "0.11.1"
rayon = "1.5.1"
readonly = "0.2.0"
realfft = "2.0.1"
rgb = "0.8.27"
rustfft = "6.0.1"
tiny-skia = "0.5.1"
tokio = {version = "1.6.0", features = ["rt-multi-thread", "sync"]}

[dependencies.approx]
features = ["num-complex"]
git = "https://github.com/brendanzab/approx.git"
rev = "195a9584bd7cb095cb09d0b37df22553cb08cc0a"

[dependencies.resize]
git = "https://github.com/Sytronik/resize.git"
rev = "860ff756349d6580f95324374f0ffce4d1675607"

[dependencies.rodio]
git = "https://github.com/Sytronik/rodio.git"
rev = "788509f4d4ad1f5c9e8862a1471994342bd8d286"

[dev-dependencies]
image = "0.23.14"

[build-dependencies]
napi-build = "1.1.0"

[target.'cfg(all(unix, not(target_env = "musl"), not(target_arch = "aarch64")))'.dependencies]
jemallocator = {version = "0.3.2", features = ["disable_initial_exec_tls"]}

[target.'cfg(all(windows, target_arch = "x86_64"))'.dependencies]
mimalloc = {version = "0.1.25"}

[profile.release]
codegen-units = 1
