@import "../../assets/index.scss";

.MainViewer {
  position: relative;
}

// Dropbox
.dropbox {
  $margin: $spacer;

  position: absolute;
  z-index: 2;
  width: calc(100% - #{$margin * 2});
  height: calc(100% - #{$margin * 2});
  margin: $margin;
  border: 2px dashed $border-primary-light;
  border-radius: $spacer-1;
}

// SplitView
.LeftPane {
  display: flex;
  flex-direction: column;
  height: 100%;
}

// track elements
.LeftPane-track {
  flex: 0 0 auto;
  position: relative;
  margin-bottom: $track-margin;

  &.selected {
    .track-summary {
      background-color: $bg-primary-light;
    }
    .ch {
      background-color: $bg-primary-lighter;
    }
  }
}

// channels
$channel-width: 32px;

.channels {
  display: flex;
  flex-direction: column;
  float: right;
  width: $channel-width;
  height: 100%;
}

.ch {
  display: flex;
  flex-direction: column;
  justify-content: center;

  flex: 1 1 auto;
  width: 100%;
  background-color: $bg-primary-light;
  text-align: center;

  > span {
    @include body-assist;
  }

  &:not(:last-child) {
    margin-bottom: $track-margin;
  }
}

// track summary
.track-summary {
  height: 100%;
  padding: $spacer-3;
  margin-right: $channel-width;

  > span:not(:first-child) {
    display: inline-block;
    width: 100%;
  }
}

// empty
.LeftPane-empty {
  position: relative;
  flex: 1 1 auto;
  min-height: $emptytrack-height;

  > button {
    @include btn-square($spacer-3);

    display: inline-block;
    position: absolute;
    top: $spacer-3;
    right: $spacer-3;
  }
}

.btn-plus {
  @include plus-btn($button-white, $spacer-2, 1px);
}

// cavases
.canvases {
  position: relative;
}

// error box
.error-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $bg-main-transparent;

  > p {
    margin-bottom: $spacer-4;
    font-size: $body-font-size-xlarge;
    text-align: center;
  }

  > div {
    text-align: center;
  }

  & button {
    @include btn-medium;
    @include btn-outline($button-white, $button-white);
    margin: $spacer-2;
  }
}

// canvas
canvas {
  display: block;
  margin-bottom: $track-margin;
}
