@import "../../assets/index.scss";

.MainViewer {
  position: relative;
}

// Dropbox
.dropbox {
  $margin: $spacer;

  position: absolute;
  z-index: 2;
  width: calc(100% - #{$margin * 2});
  height: calc(100% - #{$margin * 2});
  margin: $margin;
  border: 2px dashed $border-primary-light;
  border-radius: $spacer-1;
}

// SplitView
.LeftPane {
  display: flex;
  flex-direction: column;
  height: 100%;
}

// track elements
.LeftPane-track {
  flex: 0 0 auto;
  position: relative;
  margin-bottom: $track-margin;

  &.selected {
    .track-summary {
      background-color: $bg-primary-light;
    }
    .ch {
      background-color: $bg-primary-lighter;
    }
  }
}

// channels
$channel-width: 32px;

.channels {
  display: flex;
  flex-direction: column;
  float: right;
  width: $channel-width;
  height: 100%;
}

.ch {
  display: flex;
  flex-direction: column;
  justify-content: center;

  flex: 1 1 auto;
  width: 100%;
  background-color: $bg-primary-light;
  text-align: center;

  > span {
    @include body-assist;
  }

  &:not(:last-child) {
    margin-bottom: $track-margin;
  }
}

// track summary
.track-summary {
  height: 100%;
  padding: $spacer-3;
  margin-right: $channel-width;

  > span:not(:first-child) {
    display: inline-block;
    width: 100%;
  }
}

// empty
.LeftPane-empty {
  position: relative;
  flex: 1 1 auto;
  min-height: $emptytrack-height;

  > button {
    display: inline-block;
    position: absolute;
    top: $spacer-3;
    right: $spacer-3;
    width: $button-size;
    height: $button-size;
  }
}

$btn-weight: 1px;
$btn-unit: $spacer-2;
.btn-plus {
  display: inline-block;
  position: relative;
  width: $btn-weight;
  height: $btn-unit + $btn-weight;
  background: $button-white;
}
.btn-plus:after {
  background: $button-white;
  position: absolute;
  left: -$btn-unit/2;
  top: $btn-unit/2;
  content: "";
  width: $btn-unit + $btn-weight;
  height: $btn-weight;
}

// cavases
.canvases {
  position: relative;
}

// error box
.error-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $bg-main-transparent;

  > p {
    margin-bottom: $spacer-4;
    font-size: $body-font-size-xlarge;
    text-align: center;
  }

  > div {
    text-align: center;
  }

  & button {
    border: 1px solid $button-white;
    border-radius: $spacer-1;
    color: $button-white;
    font-size: $button-font-size;
    min-width: 80px;
    height: $spacer-4;
    margin: $spacer-2;
  }
}

// canvas
canvas {
  display: block;
  margin-bottom: $track-margin;
}
