@import "../../assets/index.scss";

// Empty Track
.emptyTrack {
  min-width: 160px - 16px; // [TEMP]
  height: 320px - 16px; // [TEMP]
  margin: $spacer;
  border-radius: $spacer-1;

  > button {
    display: inline-block;
    position: absolute;
    top: $spacer-3;
    right: $spacer-3;
    width: $spacer-3;
    width: $spacer-3;
  }
}

$plusbtn-weight: 1px;
$plusbtn-unit: $spacer-2;
.plusbtn {
  display: inline-block;
  position: relative;
  width: $plusbtn-weight;
  height: $plusbtn-unit + $plusbtn-weight;
  background: $button-white;
}
.plusbtn:after {
  background: $button-white;
  position: absolute;
  left: -$plusbtn-unit/2;
  top: $plusbtn-unit/2;
  content: "";
  width: $plusbtn-unit + $plusbtn-weight;
  height: $plusbtn-weight;
}