@import "../../assets/index.scss";

.SplitView {
  display: flex;
  overflow-y: scroll;
  flex-direction: row;
  align-items: flex-start;
}

.LeftPane {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;

  > div {
    background-color: $bg-primary;
  }
}

.divider {
  cursor: col-resize;
  display: flex;
  align-self: stretch;
  align-items: center;
}

.divider-line {
  height: 100%;
  border: 1px solid transparent;
}

.RightPane {
  position: relative;
  overflow: hidden;
  flex: 1 1 auto;
}
