// using template default

.divider-hitbox {
  cursor: col-resize;
  align-self: stretch;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.divider {
  height: 100%;
  border: 1px solid #808080;
}

.rightPane {
  flex: 1;
}

.splitView {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
