@import "../../assets/index.scss";

.SplitView {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 100%;
}

.LeftPane {
  background-color: $bg-primary;
}

.divider-hitbox {
  cursor: col-resize;
  display: flex;
  align-self: stretch;
  align-items: center;
}

.divider {
  height: 100%;
  border: 1px solid transparent;
}

.rightPane {
  flex: 1;
}
