@import "../../assets/index.scss";

.TrackInfo {
  padding: $spacer-3;
  
  > span {
    display: inline-block;
    width: 100%
  }
}

.filename {
  margin-bottom: $spacer-3;

  @include body-title;
}

.time,
.bitandhz {
  margin-bottom: $spacer;

  @include body-assist;
}