@import "../../assets/index.scss";

.TrackInfo {

  padding: $spacer-3;
  background-color: $bg-primary;

  > span {
    display: inline-block;
    width: 100%
  }
}

.filename {
  margin-bottom: $spacer-3;
}

.time,
.bitandhz {
  margin-bottom: $spacer;
}