@import "../../assets/index.scss";

// TrackInfo
.TrackInfo {
  position: relative;

  &.selected {
    .trackinfo {
      background-color: $bg-primary-light;
    }
    .ch {
      background-color: $bg-primary-lighter;
    }
  }
}

// trackch
$trackch-width: 32px;

.trackch {
  display: flex;
  flex-direction: column;
  float: right;
  width: $trackch-width;
  height: 100%;
}

.ch {
  display: flex;
  flex-direction: column;
  justify-content: center;

  flex: 1 1 auto;
  width: 100%;
  background-color: $bg-primary-light;
  text-align: center;

  > span {
    @include body-assist;
  }

  &:not(:last-child) {
    margin-bottom: $track-margin;
  }
}

// trackinfo
.trackinfo {
  height: 100%;
  padding: $spacer-3;
  margin-right: $trackch-width;

  > span:not(:first-child) {
    display: inline-block;
    width: 100%;
  }
}

.filename {
  display: flex;
  position: relative;
  margin-bottom: $spacer-3;

  @include body-title;

  & span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

$path-min: $body-font-size-large * 0.4 * 3; // 0.4: fontface scale factor
.paths {
  min-width: $path-min;
  flex: 0 1 auto;
}

.name {
  flex: 0 0 auto;
  max-width: 100%;

  &.w-path {
    max-width: calc(100% - #{$path-min});

    &::before {
      content: "/";
    }
  }
}

.time,
.sampleformat-sr {
  margin-bottom: $spacer;

  @include body-assist;
}
