@import "../../styles/index.scss";

.Overview {
  flex: 1 1 auto;
  margin: $component-gap * 0.5;
  position: relative;
  cursor: text;
}

.OverviewLens {
  position: absolute;
  width: 100%;
  height: 100%;
}

.OverviewBackground {
  position: absolute;
  left: 2px;
  top: 2px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
}
