@import '../../styles/index.scss';

.Overview {
  flex: 1 1 auto;
  margin: $component-gap / 2;
  position: relative;
  cursor: text;

  canvas {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
