@import "../../styles/index.scss";

.SlideBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 0 auto;
  width: $slidebar-width;
  margin: $component-gap / 2;
}

.SlideBarRow {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;

  img,
  input {
    margin: $spacer-1 / 2;
    flex: 0 0 16px;
  }

  input[type="range"] {
    appearance: none;
    -webkit-appearance: none;
    width: 30px;
    height: 16px;
    margin: $spacer-1;
    flex: 1 1 auto;
    // border: 1px solid $border-primary-light;
    border-radius: 8px;
    background-color: $bg-primary-lighter;
  }

  input[type="range"]::-webkit-slider-thumb {
    // appearance: none;
    // -webkit-appearance: none;
    // width: 16px;
    // height: 16px;
    // border: 1px solid $border-gray-light;
    // border-radius: 8px;
    // background-color: $button-white;
    // cursor: pointer;
    margin-top: -6px;
  }
}
