@import "../../styles/index.scss";

.SlideBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 0 auto;
  width: $slidebar-width;
  margin: $component-gap / 2;
}

.SlideBarRow {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;

  img,
  input {
    margin: $spacer-1 / 2;
    flex: 0 0 16px;
  }
}
