@import "../../styles/index.scss";

.SlideBar {
  display: flex;
  justify-content: stretch;
  align-items: center;

  flex: 0 0 auto;
  width: $slidebar-width;
  margin: $component-gap * 0.5;

  img {
    margin: $spacer-1;
    flex: 0 0 16px;
  }
}
