@import "../../styles/index.scss";

.SlideBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 0 auto;
  width: $slidebar-width;
  margin: $component-gap * 0.5;
}

.SlideBarRow {
  display: flex;
  justify-content: stretch;
  align-items: center;
  width: 100%;

  img {
    margin: $spacer-1;
    flex: 0 0 16px;
  }
}
