@import "../../styles/index.scss";

.Control {
  display: flex;
  flex-direction: column;
  width: $track-control-width;
  padding: 0 $spacer-3;
  margin: $component-gap * 0.5;

  background-color: $bg-primary;
  font-size: $body-font-size-small;
  font-weight: 500;

  select {
    @include select-basic($spacer);
  }

  *:focus {
    box-shadow: 0 0 $tiny-spacer $tiny-spacer rgba($bg-primary-lighter, 0.5);
    outline: none;
  }
}

.sectionContainer {
  &:not(:last-child) {
    border-bottom: 1px solid rgba($border-gray-light, 0.5);
  }
}
.itemContainer {
  margin: $spacer-4 $spacer-2;

  > label {
    display: block;
    margin-left: 1px;
    font-size: $body-font-size-xsmall;
    opacity: 0.7;
  }

  > *:not(:last-child) {
    margin-bottom: $spacer;
  }
}

.winMillisecInput {
  @include input-text-basic($spacer);
}

.changeFreqScaleBtn {
  @include btn-outline($button-white, $border-primary-light);

  background-color: $bg-primary-light;
  padding: $tiny-spacer $spacer-1;
  width: 5em;
}
