$black: #000 !default;
$white: #fff !default;

// -------- Primary --------
$primary-400: #5b548c !default;
$primary-700: #34314b !default;
$primary-800: #2b2843 !default;
$primary-900: #211f33 !default;

// -------- Grays --------
$gray-300: #b9b9b9 !default;
$gray-500: #707070 !default;

// -------- Color gradient maps --------
