@import "color-system.scss";
// Color variables

// Border colors
$border-gray-light: $gray-400 !default;
$border-primary-light: $primary-400 !default;

// Background colors
$bg-main: $primary-900 !default;
$bg-primary: $primary-800 !default;
$bg-primary-semilight: $primary-750 !default;
$bg-primary-light: $primary-700 !default;
$bg-primary-lighter: $primary-600 !default;

// transparent
$bg-main-transparent: transparentize($bg-main, 0.2);

// Text colors
$text-main: $primary-900 !default;
$text-white: $white !default;
$text-gray: $primary-600 !default;

// Button colors
$button-white: $white !default;
