@import "layout.scss";

$component-gap: $spacer;
$tiny-spacer: round($spacer-1 * 0.5); // 2px

// Components container
$player-control-height: $spacer * 8;
$overview-height: $spacer * 6;
$track-control-width: $spacer * 27;

// Components
$colorbar-width: 65px;
$slidebar-width: $colorbar-width + 93px;

// Control
  $range-input-height: $spacer-3;
  $range-track-height: 2px;
  $range-thumb-height: $spacer;


// MainViewer
$time-ruler-height: $spacer-3;
$emptytrack-height: $spacer * 10;
$track-margin: 2px;

// Channels
$channel-width: 32px;

// Buttons
$button-size: $spacer-3;
