@import "layout.scss";

$component-gap: $spacer;
$tiny-spacer: round($spacer-1 * 0.5); // 2px

// Components container
$control-height: 80px;
$overview-height: 50px;

// Components
$colorbar-width: 65px;
$slidebar-width: $colorbar-width + 93px;

// MainViewer
$time-ruler-height: $spacer-3;
$emptytrack-height: 80px;
$track-margin: 2px;

// Channels
$channel-width: 32px;

// Buttons
$button-size: $spacer-3;
