$black: #000 !default;
$white: #fff !default;

// -------- Primary --------
$primary-400: #858ef2 !default;
$primary-500: #666bcc !default;
$primary-600: #4c4f75 !default;
$primary-700: #393b54 !default;
$primary-750: #30324a !default;
$primary-800: #282a42 !default;
$primary-900: #1f2133 !default;

// -------- Grays --------
$gray-400: #b9b9b9 !default;
$gray-500: #707070 !default;
$gray-600: #5c5d73 !default;

// -------- Color gradient maps --------
