@use "../../styles/index.scss";
@use "../../styles/mixins/buttons";
@use "../../styles/variables/colors";
@use "../../styles/variables/layout";
@use "../../styles/variables/typography";

// error box
.errorBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  // width: 100%;
  height: 100%;
  background-color: colors.$bg-main-transparent;

  > p {
    margin-bottom: layout.$spacer-4;
    font-size: typography.$body-font-size-xlarge;
    text-align: center;
  }

  > div {
    text-align: center;
  }

  & button {
    @include buttons.btn-medium;
    @include buttons.btn-outline(colors.$button-white, colors.$button-white);
    margin: layout.$spacer-2;
  }
}
