@import "../../styles/index.scss";

.timeUnitSection {
  @include body-label;

  position: relative;
  flex: 1 1 auto;
  height: $time-ruler-height + $track-margin;
  border-bottom: solid $track-margin $bg-main;

  p {
    position: absolute;
    right: $spacer;
    bottom: 2px;
  }
}
