@import "../../styles/index.scss";

.pathName {
  display: flex;
  position: relative;
  margin-bottom: $spacer-3;

  @include body-title;

  & span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.pathNameTooltip {
  position: fixed;
  z-index: 256;
  pointer-events: none;
  background-color: $bg-primary-light;
  font-size: $body-font-size;
  padding: $spacer $spacer-3;
  border-radius: $spacer-1;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
}

$path-min: $body-font-size-large * 0.4 * 3; // 0.4: fontface scale factor
.path {
  min-width: $path-min;
  flex: 0 1 auto;
}

.name {
  flex: 0 0 auto;
  max-width: 100%;

  &.withPath {
    max-width: calc(100% - #{$path-min});

    &::before {
      content: "/";
    }
  }
}

.time,
.sampleFormatRate,
.loudness {
  margin-bottom: $spacer;

  @include body-assist;
}
