@import "../../styles/index.scss";

.trackAddButtonSection {
  position: relative;
  flex: 1 1 auto;
  min-height: $emptytrack-height;
  height: 100%;
  margin-top: $track-margin;

  > button {
    @include btn-square($spacer-3);

    display: inline-block;
    position: absolute;
    top: $spacer-3;
    right: $spacer-3;
  }
}

.btnPlus {
  @include plus-btn($button-white, $spacer-2, 1px);
}
