@use "../../styles/index.scss";
@use "../../styles/mixins/typography";
@use "../../styles/variables/box-sizes";
@use "../../styles/variables/colors";
@use "../../styles/variables/layout";

.TrackInfo {
  display: flex;
  flex: 0 0 auto;
  position: relative;
  user-select: none;
  scroll-margin-top: layout.$spacer-3 + 5px;
  scroll-margin-bottom: 5px;
}

// track summary
.TrackSummary {
  overflow: hidden;
  flex: 1 1;
  padding: layout.$spacer-3;

  > span:not(:first-child) {
    display: inline-block;
    width: 100%;
  }
}

.selected {
  .TrackSummary {
    background-color: colors.$bg-primary-semilight;
  }
  .ch {
    background-color: colors.$bg-primary-light;
  }
}

// channels
.channels {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  justify-content: space-between;
  width: box-sizes.$channel-width;
}

.ch {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  background-color: colors.$bg-primary-semilight;
  text-align: center;

  > span {
    @include typography.body-assist;
  }
}
