@use "../../styles/index.scss";
@use "../../styles/mixins/buttons";
@use "../../styles/variables/box-sizes";
@use "../../styles/variables/colors";
@use "../../styles/variables/layout";

.trackAddButtonSection {
  position: relative;
  flex: 1 1 auto;
  min-height: box-sizes.$emptytrack-height;
  height: 100%;
  margin-top: box-sizes.$track-margin;

  > button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: layout.$spacer-5;
    background-color: colors.$button-primary;

    &:hover,
    &:active {
      background-color: colors.$button-primary-hover;
    }

    &:focus-visible {
      outline: 2px solid colors.$button-white;
      outline-offset: -2px;
    }
  }
}

.btnPlus {
  @include buttons.plus-btn(colors.$button-white, layout.$spacer-2, 1px);
}
