@import "../../styles/index.scss";

.PlayerControl {
  background-color: $bg-primary;
  height: $player-control-height;
  margin: $component-gap * 0.5;
  align-items: center;
  justify-content: center;
}

.volumeIcon {
  margin-left: $component-gap;
  margin-right: $component-gap * 0.5;

  width: 20px;
  height: 20px;
}

.positionInput {
  @include input-text-transparent();

  margin: $component-gap;
  width: 6.1em;

  font-size: $body-font-size-large;
}

.playerButton {
  margin: $component-gap;

  button {
    width: 30px;
    height: 30px;

    img {
      width: 15px;
      height: 15px;
    }
  }
}

.volumeRangeInput {
  label {
    font-size: $body-font-size-small;
  }
}
