@import "./assets/index.scss";

// temporary guide
.Control,
.Overview,
.SlideBar,
.MainViewer,
.ColorBar {
  border: $border;
}

// Variables
$control-height: 80px;
$overview-height: 64px;
$slidebar-width: 160px;
$colorbar-width: 104px;
$component-gap: $spacer;

.App {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
  color: $text-white;

  > div {
    display: flex;
    justify-content: space-between;
  }

  > div > div {
    margin: $component-gap / 2;
  }
}

.row {
  &-control {
    flex: 0 0 auto;
    height: $control-height;
  }
  &-overview {
    flex: 0 0 auto;
    height: $overview-height;
  }
  &-mainviewer {
    flex: 1 1 auto;
    width: 100%;
  }
}

.Control {
  flex: 1 1 auto;
}

.Overview {
  flex: 1 1 auto;
}

.SlideBar {
  flex: 0 0 auto;
  width: $slidebar-width;
}

.MainViewer {
  flex: 1 1 auto;
  width: calc(100% - #{$colorbar-width + $component-gap * 2});
}

.ColorBar {
  flex: 0 0 auto;
  width: $colorbar-width;
}
