@import "./assets/index.scss";

// temporary guide
.Control,
.Overview,
.SlideBar,
.SplitView,
.ColorBar {
  border: $border;
}

.App {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
  color: $text-white;

  // [TEMP] class 등으로 대체
  > div {
    display: flex;
    justify-content: space-between;
  }
}

.row {
  &-fixed {
    flex: 0 0 auto;

    &.control {
      height: $control-height;
    }
    &.overview {
      height: $overview-height;
    }
  }
  &-flex {
    flex: 1 1 auto;
    width: 100%;
  }
}

.Control {
  flex: 1 1 auto;
  margin: $component-gap / 2;
}

.Overview {
  flex: 1 1 auto;
  margin: $component-gap / 2;
}

.SlideBar {
  flex: 0 0 auto;
  width: $slidebar-width;
  margin: $component-gap / 2;
}

.SplitView {
  flex: 1 1 auto;
  width: calc(100% - #{$colorbar-width + $component-gap * 2});
  margin: $component-gap / 2;
}

.ColorBar {
  flex: 0 0 auto;
  width: $colorbar-width;
  margin: $component-gap / 2;
}
