@use "../variables/colors";
@use "../variables/layout";
@use "../variables/typography";

// button size
@mixin btn-square($size) {
  width: $size;
  height: $size;
}

@mixin btn-medium {
  min-width: 80px;
  height: 24px;
  font-size: typography.$button-font-size;
}

// button type
@mixin plus-btn($color: $btn-white, $unit: layout.$spacer-2, $weight: 1px) {
  display: inline-block;
  position: relative;
  width: $weight;
  height: $unit + $weight;
  background: $color;

  &::after {
    background: $color;
    position: absolute;
    left: -$unit * 0.5;
    top: $unit * 0.5;
    content: "";
    width: $unit + $weight;
    height: $weight;
  }
}

@mixin btn-outline($text-color: colors.$button-white, $border-color: colors.$button-white) {
  display: inline-block;
  border: $border-color solid 1px;
  border-radius: layout.$spacer-1;
  color: $text-color;

  &:hover,
  &:active,
  &.selected,
  [open] > & {
    border-color: $text-color;
    background-color: $text-color;
    color: colors.$text-main;
  }

  &:focus {
    border-color: $text-color;
    box-shadow: 0 0 0 0.2em rgba($text-color, 0.4);
    outline: none;
  }
}
