@use "../variables/box-sizes";
@use "../variables/color-system";
@use "../variables/colors";
@use "../variables/layout";
@use "../variables/typography";

@mixin basic-input-setting($unit: layout.$spacer, $margin-right: layout.$spacer) {
  /* reset default font*/
  font-family: typography.$body-font;
  font-size: typography.$body-font-size-small;
  color: white;

  margin-right: $margin-right;
  border: none;

  text-align: left;
}

@mixin basic-input-box($unit: layout.$spacer) {
  @include basic-input-setting($unit, layout.$spacer);
  background-color: colors.$bg-primary-light;

  min-width: $unit * 9;
  height: $unit * 3.5;
  border-radius: layout.$spacer-1;
}

@mixin select-basic($unit: layout.$spacer) {
  @include basic-input-box($unit);

  -webkit-appearance: none;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI4LjEuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAxNiA4IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAxNiA4OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+Cgkuc3Qwe2ZpbGw6bm9uZTtzdHJva2U6I0ZGRkZGRjtzdHJva2Utd2lkdGg6MjtzdHJva2UtbGluZWNhcDpyb3VuZDtzdHJva2UtbGluZWpvaW46cm91bmQ7fQo8L3N0eWxlPgo8cGF0aCBpZD0iYXJyb3ciIGNsYXNzPSJzdDAiIGQ9Ik0wLDBsOC4xLDhMMTYsMCIvPgo8L3N2Zz4K);
  background-repeat: no-repeat;
  background-position:
    right $unit top 50%,
    0 0;
  background-size: $unit auto;

  padding: 0 $unit * 4 0 $unit * 1.5;

  &:hover,
  &:focus {
    background-color: colors.$bg-primary-lighter;
  }
}

@mixin input-text-basic($unit: layout.$spacer, $width: $unit * 9) {
  @include basic-input-box($unit);

  width: $width;
  padding: 0 $unit * 1.5;

  &:hover,
  &:focus {
    background-color: colors.$bg-primary-lighter;
  }
}

@mixin input-text-transparent($unit: layout.$spacer) {
  @include basic-input-setting($unit, box-sizes.$tiny-spacer);

  background-color: transparent;
  margin: auto 0;
}

@mixin input-range-base($height: layout.$spacer) {
  -webkit-appearance: none;
  background-color: colors.$bg-primary-lighter;
  cursor: pointer;

  width: layout.$spacer * 12;
  height: $height;
  margin: auto layout.$spacer auto 0;
  border-radius: $height * 0.5;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

@mixin input-range-thumb($color: color-system.$white, $height: layout.$spacer) {
  -webkit-appearance: none;
  appearance: none;
  background-color: $color;

  height: $height;
  width: $height;
  border-radius: 50%;

  // Use CSS variable for platform-specific margin-top
  // Variable is set in App.scss based on platform
  margin-top: var(--range-thumb-margin-top);
}

@mixin input-switch-base($unit: layout.$spacer) {
  @include basic-input-box($unit);

  -webkit-appearance: none;
  appearance: none;
  position: relative;
  cursor: pointer;

  width: $unit * 20;
}

@mixin input-switch-thumb-box($unit: layout.$spacer) {
  display: inline-block;
  width: $unit * 10; // half of input width
  height: $unit * 3.5 - 1; // same as basic-input-box which switch-base uses
}

@mixin input-switch-thumb($unit: layout.$spacer) {
  @include input-switch-thumb-box($unit);
  position: absolute;
  background-color: color-system.$primary-400;
  transition: 0.4s;

  left: $unit * 10;
  border-radius: 0 layout.$spacer-1 layout.$spacer-1 0;
}
@mixin input-switch-thumb-moved($unit: layout.$spacer) {
  transform: translateX(-$unit * 10); // same as input thumb box width
  border-radius: layout.$spacer-1 0 0 layout.$spacer-1;
}

@mixin input-switch-active() {
  color: white;
  fill: white;
}
@mixin input-switch-inactive() {
  color: color-system.$gray-600;
  fill: color-system.$gray-600;
}

@mixin floating-input {
  @include input-text-basic(layout.$spacer-1, 2em);
  position: absolute;
  z-index: 255;

  border: 0px;
  font-size: typography.$body-font-size-xsmall;

  min-width: 2em;
  margin: 0 (layout.$spacer-2 - 2px) 2px (layout.$spacer-2 - 2px);

  padding: 0 0 0 layout.$em-spacer-2;
}
