name: Test

on: [push, pull_request]

jobs:
  test:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
        arch: [x64, arm64]
        exclude:
          # Exclude macOS ARM64 and Windows ARM64 if not supported
          - os: windows-latest
            arch: arm64

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4

      - name: install dependencies (ubuntu only)
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get install -y libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf

      - name: Setup Rust Environment
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: clippy
          rustflags:

      - name: Install Node.js and NPM
        uses: actions/setup-node@v3
        with:
          node-version: 24
          cache: npm

      - if: matrix.os == 'ubuntu-latest'
        name: Install alsa dependency
        run: |
          sudo apt install libasound2-dev

      - if: matrix.os == 'windows-latest'
        name: Setup vcpkg
        run: |
          git clone https://github.com/microsoft/vcpkg .vcpkg
          .\.vcpkg\bootstrap-vcpkg.bat
          .\.vcpkg\vcpkg integrate install

      - if: matrix.os == 'windows-latest'
        name: Install OpenBLAS
        run: |
          .\.vcpkg\vcpkg install openblas:x64-windows-static openblas:x64-windows-static-md

      - name: cargo clippy
        run: |
          cargo clippy

      - name: cargo test
        run: |
          cargo test

      - name: npm install
        run: |
          npm install --global @napi-rs/cli wasm-pack
          npm run build:wasm
          npm install

      - name: npm test
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          npm run tauri build
          npm run lint
          npm exec tsc
        # npm test
